{% extends 'TrismegisteSocialBundle:Admin:layout.html.twig' %}

{% block page_title %}
    {{ parent() }} | Show {{ netizen.username }}
{% endblock %}

{% block content %}
    <div class="pure-g entry">
        <div class="pure-u-1 pure-u-md-1-2">
            <article>
                Show netizen {{ netizen.username }}
            </article>
        </div>
    </div>
{% endblock %}