{# these are contents when the user stumble on a page without content #}
<div class="widget">
    <article>
        <h1>No content here, perhaps you'd like</h1>
    </article>
</div>
{% include 'TrismegisteSocialBundle:Discover:discover_last_registered.html.twig' %}
{% include 'TrismegisteSocialBundle:Discover:discover_last_contents.html.twig' %}