<div class="widget">
    <article>
        <h2>Recently registered</h2>
        {% for netizen in last_registered %}
            <div class="pure-u-1-4 pure-u-md-1-6 pure-u-xl-1-8">
                <nav class="user">
                    {% include 'TrismegisteSocialBundle:Netizen:avatar_popup.html.twig' with {author: netizen.author} %}
                    <h4 class="text-center">{{ netizen.username }}</h4>
                </nav>
            </div>
        {% endfor %}
    </article>
</div>