{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Explore
{% endblock %}

{% block content %}
    <div class="widget">
        <article>
            <h2>Search</h2>
            <form class="pure-form" action="{{ path('search_listing') }}" method="GET">
                <input name="keyword" required="true" type="text" placeholder="Search..." value="{{ keyword|default('') }}"/>
                <button type="submit" class="pure-button"><i class="icon-search"></i></button>
            </form>
        </article>
    </div>

    <div class="widget">
        <article>
            <h2>Recently registered</h2>
            {% for netizen in last_registered %}
                <div class="pure-u-1-4 pure-u-md-1-6 pure-u-xl-1-8">
                    <nav class="user">
                        {% include 'TrismegisteSocialBundle:Netizen:avatar_popup.html.twig' with {author: netizen.author} %}
                        <h4 class="text-center">{{ netizen.username }}</h4>
                    </nav>
                </div>
            {% endfor %}
        </article>
    </div>

    <div class="entry">
        <article>
            <h2>Last contents</h2>
        </article>
    </div>
    {% for content in last_content %}
        {% include 'TrismegisteSocialBundle:Content:publishing_show.html.twig' %}
        <hr/>
    {% endfor %}

{% endblock %}
