{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block page_title %}
    {{ parent() }} | Admin dashboard
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 column">
            <table>
                <tr>
                    <th style="width: 3em;"></th>
                    <th style="width: 8em;">Type</th>
                    <th>Content</th>
                    <th style="width: 8em;">Reported</th>
                </tr>
                {% for report in listing %}
                    <tr>
                        <td><input type="checkbox" class="action-selection"/></td>
                        <td>{{ report._id.type }}</td>
                        <td>{% include 'TrismegisteSocialBundle:AbuseReport:show/' ~ report._id.type ~ '.html.twig' %}</td>
                        <td class="text-center">{{ report.value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}