{# error when user is authenticated #}
{% extends 'TrismegisteSocialBundle::layout.html.twig' %}
{% block content %}
    <div class="error-message">
        {% block error_message %}
            <h1>Oops! An Error Occurred</h1>
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        {% endblock %}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .error-message {
            padding: 2em;
        }
    </style>
{% endblock %}