{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block page_title %}
    {{ parent() }} | Admin dashboard
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 column">toto</div>
    </div>
{% endblock %}