<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Foundation | Welcome</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation.css" />
        <link rel="stylesheet" href="/css/foundation-icons.css" />
        {% block stylesheets %}{% endblock %}
        <script src="/js/vendor/modernizr.js"></script>
    </head>
    <body>
        {% block topbar %}
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <h1>Feed Template</h1>
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="row">
            {% block content %}
            <div class="large-3 columns ">
                <div class="panel">
                    {% block navbar %}
                    <a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>
                    <h5><a href="#">Your Name</a></h5>
                    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                        <section class="section">
                            <h5 class="title"><a href="#">Section 1</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 2</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 3</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 4</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 5</a></h5>
                        </section>
                        <section class="section">
                            <h5 class="title"><a href="#">Section 6</a></h5>
                        </section>
                    </div>
                    {% endblock navbar %}
                </div>
            </div>

            <div class="large-6 columns">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                <div data-alert class="alert-box success">
                    {{ flashMessage }}
                    <a href="#" class="close">&times;</a>
                </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('warning') %}
                <div data-alert class="alert-box alert">
                    {{ flashMessage }}
                    <a href="#" class="close">&times;</a>
                </div>
                {% endfor %}                

                {% block crud %}{% endblock %}
                {% block feed %}
                <div class="row">
                    <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
                    <div class="large-10 columns">
                        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                        <ul class="inline-list">
                            <li><a href="">Reply</a></li>
                            <li><a href="">Share</a></li>
                        </ul>
                        <h6>2 Comments</h6>
                        <div class="row">
                            <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
                            <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
                        </div>
                        <div class="row">
                            <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
                            <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
                    <div class="large-10 columns">
                        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                        <ul class="inline-list">
                            <li><a href="">Reply</a></li>
                            <li><a href="">Share</a></li>
                        </ul>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
                    <div class="large-10 columns">
                        <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                        <ul class="inline-list">
                            <li><a href="">Reply</a></li>
                            <li><a href="">Share</a></li>
                        </ul>
                        <h6>2 Comments</h6>
                        <div class="row">
                            <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
                            <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
                        </div>
                    </div>
                </div>

                {% endblock feed %}
            </div>

            <aside class="large-3 columns hide-for-small">
                {% block asidebar %}
                <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
                <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
                {% endblock asidebar %}
            </aside>
                
            {% endblock content %}
        </div>

        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    {% block footer %}
                    <div class="large-5 columns">
                        <p>{% block copyright_text %}&copy; Copyright no one at all. Go to town.{% endblock %}</p>
                    </div>
                    <div class="large-7 columns">
                        <ul class="inline-list right">
                            <li><a href="#">Section 1</a></li>
                            <li><a href="#">Section 2</a></li>
                            <li><a href="#">Section 3</a></li>
                            <li><a href="#">Section 4</a></li>
                            <li><a href="#">Section 5</a></li>
                            <li><a href="#">Section 6</a></li>
                        </ul>
                    </div>
                    {%endblock %}
                </div>
            </div>
        </footer>
        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>