{% extends '::foundation_form.html.twig' %}

{% block form_row %}
<div class="row">
    <div class="small-3 columns">
        <label for="right-label" class="right inline {% if form.vars.errors|length > 0 %}error{% endif %}">{{- form_label(form) -}}</label>
    </div>
    <div class="small-9 columns">
        {{- form_widget(form) -}}
    </div>
    {{- form_errors(form) -}}
</div>
{% endblock form_row %}
