{% if app.user.username is not defined %}
<form class="navbar-form pull-right" method="POST" action="{{ path('trismegiste_logincheck') }}">
    <input class="span2" type="text" placeholder="Login" name="_username"/>
    <input class="span2" type="password" placeholder="Password" name="_password"/>
    <input type="hidden" name="_target_path" value="/"/>
    <button type="submit" class="btn">Sign in</button>
</form>
{% else %}
<p class="navbar-text pull-right">
    Logged in as <a href="{{ path('trismegiste_logout') }}" class="navbar-link">{{ app.user.username }}</a>
</p>
{% endif %}
