{% block osm_location_widget %}

<div id="status-map-form" class="status-map" 
     data-social-status-form
     data-social-field-lat="#{{ form.latitude.vars.id }}"
     data-social-field-lng="#{{ form.longitude.vars.id }}"
     data-social-field-zoom="#{{ form.zoom.vars.id }}"
     ></div>
{% for child in form %}
    {{ form_widget(child) }}
{% endfor %}

{% endblock %}