{% extends 'TrismegisteSocialBundle:help:layout.html.twig' %}

{% block help_content %}
    <h2>Add a new App in Twitter</h2>
    <ol>
        <li>Got to <a href="https://apps.twitter.com/">https://apps.twitter.com/</a></li>
        <li>Create a new App, choose "Website"</li>
        <li>Choose a name and a description</li>
        <li>Copy-paste this <pre>{{ url('content_index') }}</pre> in the field <strong>Website</strong></li>
        <li>Copy-paste this <pre>{{ url('trismegiste_oauth_check', {provider:'twitter'}) }}</pre> in the field <strong>Callback URL</strong></li>
        <li>Check <strong>Yes I agree</strong></li>
        <li>Click on <strong>Create your Twitter application</strong></li>
        <li>After validation, click on the tab <strong>Key and access token</strong>.
            This page show you the <strong>Consumer Key</strong> (or App ID here) &amp; <strong>Consumer Secret</strong> (or Secret ID here)
            to copy-paste in the form</li>
        <li>Click on the <strong>Permissions</strong> tab and select <strong>Read only</strong> (no need to frighten your users)</li>
        <li>Now you can try to register yourself on iinano, the first account is an Administrator</li>
        <li>You can now configure the others parameters like fee amount, title and payment gateway</li>
    </ol>
{% endblock %}