{% extends 'TrismegisteSocialBundle:help:layout.html.twig' %}

{% block help_content %}
    <h2>Storage capacity</h2>
    <p>This application has a storage limit for pictures (currently: {{app_quota.storage.picture|si}}Bytes)</p>
    <p>When this limit is reached, old files are deleted to make room for new ones</p>
{% endblock %}