{% extends 'TrismegisteSocialBundle:help:layout.html.twig' %}

{% block help_content %}
    <h2>Storage capacity</h2>
    <p>This application has a storage limit for pictures & documents (currently: {{1000000000|si}})</p>
    <p>When this limit is reached, old files are deleted to make room for new ones</p>
{% endblock %}