{% extends 'TrismegisteSocialBundle:Admin:layout.html.twig' %}

{% block page_title %}
    {{ parent() }} | Entrance Fee
{% endblock %}

{% block content %}
    <div class="pure-g entry">
        <div class="pure-u-1">
            <article>
                {{ form(form) }}
            </article>
        </div>
    </div>
{% endblock %}