{% extends 'TrismegisteSocialBundle:Guest:layout.html.twig' %}

{% block full_body %}
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="panel">
                <div class="pure-g">
                    <div class="pure-u-2-3">
                        <h1>iinano</h1>
                        <p>A social network that follows <a href="http://en.wikipedia.org/wiki/SOLID_(object-oriented_design)">SOLID</a></p>
                        <h3>Built with :</h3>
                        <ul>
                            <li><a href="http://symfony.com/">Symfony</a> &amp; <a href="http://twig.sensiolabs.org/">Twig</a></li>
                            <li><a href="http://mongodb.com/">MongoDB</a> &amp; <a href="http://github.com/Trismegiste/DokudokiBundle">Dokudoki</a></li>
                            <li><a href="http://purecss.io/">PureCSS</a></li>
                        </ul>
                    </div>
                    <div class="pure-u-1-3">
                        <img src="{{ asset('bundles/trismegistesocial/img/mascot.png') }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
