{% extends 'TrismegisteSocialBundle::purecss.html.twig' %}

{% form_theme register '::inline_form.html.twig' %}

{% block full_body %}
<div class="row">
    <div class="large-12 column">
        <h2>Register</h2>
        <p>Please provide some informations to register your account</p>
        {{ form(register) }}
    </div>
</div>
{% endblock %}
