{% extends 'TrismegisteSocialBundle:Guest:layout.html.twig' %}

{% form_theme register '::inline_form.html.twig' %}

{% block full_body %}
    <div class="pure-g">
        <div class="pure-u-1">
            <h2>Register</h2>
            {% if coupon is defined %}
                <div>By validating this form, you're using the coupon "{{ coupon }}"</div>
            {% endif %}
            <p>Please provide some informations to register your account</p>
            {{ form(register) }}
        </div>
    </div>
{% endblock %}
