<figcaption><h2>{{ content.message }}</h2></figcaption>
<a href="{{ path('picture_get', {size:'full', storageKey: content.storageKey}) }}"
   data-lightbox>
    <img src="{{ path('picture_get', {size:'medium', storageKey: content.storageKey}) }}"
         class="pure-img picture-view"/>
</a>