<h5>{{ content.message }}</h5>
<a href="{{ path('picture_get', {size:'full', storageKey: content.storageKey}) }}">
    <img src="{{ path('picture_get', {size:'medium', storageKey: content.storageKey}) }}" class="picture-view"/>
</a>