<div class="status-map"
     data-social-status-show
     data-social-status-lng="{{ content.longitude }}"
     data-social-status-lat="{{ content.latitude}}"
     data-social-status-zoom="{{ content.zoom }}"
     data-social-status-message="{{ content.message }}"></div>
