{% if content.hasFan(app.user.author) %}
    {% set like_action = 'remove' %}
    {% set like_text = 'Unlike' %}
    {% set like_icon = 'icon-heart' %}
{% else %}
    {% set like_action = 'add' %}
    {% set like_text = 'Like' %}
    {% set like_icon = 'icon-heart-empty' %}
{% endif %}
<a data-like-ajaxed
   href="{{ path('pub_famous', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, action: like_action}) }}"
   class="like-button"
   title="{{ like_text }}">
    <i class="{{ like_icon }}"></i>
    {{ content.fanCount }}
</a>