{% if content.hasFan(app.user.author) %}
    <a data-social-ajaxed href="{{ path('pub_famous', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, action: 'remove'}) }}">
        <i class="fi-heart"></i>
        {{ content.fanCount }}
    </a>
{% else %}
    <a data-social-ajaxed href="{{ path('pub_famous', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, action: 'add'}) }}">
        <i class="fi-heart"></i>
        {{ content.fanCount }}
    </a>
{% endif %}