{% extends 'TrismegisteSocialBundle:Admin:layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Abuse report & moderation
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}