{% extends 'TrismegisteSocialBundle:Admin:AbuseReport/generic_listing.html.twig' %}

{% form_theme form _self %}

{% block choice_widget_expanded %}
    <table class="pure-table pure-table-horizontal pure-table-striped abuse-listing">
        <tr>
            <th></th>
            <th>Content</th>
            <th>Author</th>
            <th>Reported</th>
        </tr>
        {% for child in form %}
            {% set report = child.vars.label %}
            <tr>
                <td>{{ form_widget(child, {attr:{class:'pure-checknox'}}) }}</td>
                <td>{% include 'TrismegisteSocialBundle:Admin/AbuseReport:show/' ~ report['-class'] ~ '.html.twig' %}</td>
                <td>{{ report.owner.nickname }}</td>
                <td class="text-center">{{ report.abusiveCount }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}