{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block content %}
<div class="large-12 column">
    <div class="panel">
        <div class="row">
            <div class="small-8 column">
                <h1>iinano</h1>
                <p>At last a social network that follows <a href="http://en.wikipedia.org/wiki/SOLID_(object-oriented_design)">SOLID</a></p>
                <h6>Built with :</h6>
                <ul>
                    <li><a href="http://symfony.com/">Symfony</a> with <a href="http://twig.sensiolabs.org/">Twig</a></li>
                    <li><a href="http://mongodb.com/">MongoDB</a> with <a href="http://github.com/Trismegiste/DokudokiBundle">Dokudoki</a></li>
                    <li><a href="http://foundation.zurb.com/">Foundation</a></li>
                </ul>
            </div>
            <div class="small-4 column">
                <img src="{{ asset('img/mascot.png') }}"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
