{% extends 'TrismegisteSocialBundle:Default:frontpage.html.twig' %}

{% block content %}
<div class="large-12 columns ">
    <h1>Iinano</h1>
    <p>At last a SOLID Social Network</p>
</div>
{% endblock %}
