{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block content %}
<div class="large-12 column">
    <h2>Register</h2>
    <p>Please provide some informations to register your account</p>
    {{ form(register) }}
</div>
{% endblock %}
