{% set defaultParam = {wallNick: wallNick, wallFilter: wallFilter, id: wallUser.id} %}

{% if app.user.isFollowing(wallUser) %}
    {% set action_follow = path('netizen_follow', {action: 'remove'}|merge(defaultParam)) %}
    {% set text_follow = "Unfollow" %}
{% else %}
    {% set action_follow = path('netizen_follow', {action: 'add'}|merge(defaultParam)) %}
    {% set text_follow = "Follow" %}
{% endif %}

<form action="{{action_follow}}" method="POST" class="pure-form">
    <input type="hidden" name="_method" value="PATCH"/>
    <button class="pure-button">{{text_follow}}</button>
</form>