<ul class="inline-list">
    {% for author in listing %}
        <li class="small-3">
            {% include 'TrismegisteSocialBundle:Netizen:avatar_popup.html.twig' %}
            <p class="text-center">{{ author.nickname }}</p>
        </li>
    {% endfor %}
</ul>