<ul class="small-block-grid-3">
    {% for netizen in listing %}
        <li>
            {% include 'TrismegisteSocialBundle:Netizen:avatar_popup.html.twig' with {author: netizen.author} %}
            <p class="text-center">{{ netizen.username }}</p>
        </li>
    {% endfor %}
</ul>