{% set defaultParam = {wallNick: wallNick, wallFilter: wallFilter, id: wallUser.id} %}

{% if wallUser.hasFan(app.user.author) %}
    {% set action_like = path('netizen_famous', {action: 'remove'}|merge(defaultParam)) %}
    {% set icon_like = "icon-heart" %}
{% else %}
    {% set action_like = path('netizen_famous', {action: 'add'}|merge(defaultParam)) %}
    {% set icon_like = "icon-heart-empty" %}
{% endif %}

<form action="{{action_like}}" method="POST" class="pure-form">
    <input type="hidden" name="_method" value="PATCH"/>
    <button class="pure-button fan-count"><i class="{{icon_like}}"></i> {{ wallUser.fanCount }}</button>
</form>