{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block content %}
<div class="small-3 column">
    <img src="{{ path('netizen_avatar') }}"/>
</div>
<div class="small-6 column">
{{ author.nickname }}<br/>
{{ dump(profile) }}
</div>
<div class="small-3 column">
</div>
{% endblock content %}