{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block page_title %}
    {{ parent() }} | {{ author.nickname }}'s profile
{% endblock %}

{% block content %}
    <div class="pure-g profile-full entry">
        <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-4">
            <header>
                <img src="{{ path('netizen_avatar', {filename: author.avatar}) }}" class="pure-img"/>
            </header>
        </div>
        <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-3-4 profile-body">
            <article>
                {% block profile_content %}
                {% endblock %}
            </article>
        </div>
    </div>
{% endblock content %}