{% set relation = app.user.findRelationType(nickname) %}
{% if relation > 0 %}
    <li>
        <h4 class="text-center">
            {{ relation|trans([], 'relation_type') }}
        </h4>
    </li>
{% endif %}