{% set relation = app.user.findRelationType(nickname) %}
{% if relation > 0 %}
    <li>
        <h4 class="text-center">
            {% if relation == 1 %}
                follower
            {% elseif relation == 2 %}
                following
            {% elseif relation == 3 %}
                friend
            {% endif %}
        </h4>
    </li>
{% endif %}