{% set defaultParam = {wallNick: wallNick, wallFilter: wallFilter, id: wallUser.id} %}

{% if wallUser.hasFan(app.user.author) %}
    <a href="{{ path('netizen_famous', {action: 'remove'}|merge(defaultParam)) }}" class="button tiny">Unlike</a>
{% else %}
    <a href="{{ path('netizen_famous', {action: 'add'}|merge(defaultParam)) }}" class="button tiny">Like</a>
{% endif %}
{% if app.user.isFollowing(wallUser) %}
    <a href="{{ path('netizen_follow', {action: 'remove'}|merge(defaultParam)) }}" class="button tiny">Unfollow</a>
{% else %}
    <a href="{{ path('netizen_follow', {action: 'add'}|merge(defaultParam)) }}" class="button tiny">Follow</a>
{% endif %}