<div class="row-fluid">
    <div class="span12">
        <h4>Mention</h4>
        <ul class="nav nav-pills">
            {% for vertex in backlink %}
                <li><a href="{{ path('vertex_show', {id: vertex.getId()}) }}">{{ vertex.getTitle() }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
