{% extends 'TrismegisteSocialBundle:Default:frontpage.html.twig' %}

{% block feed %}
<div class="row">
    {{ form(form) }}
</div>
<hr/>
{% for v in vertex %}
    {% include 'TrismegisteSocialBundle:Content:simplepost.html.twig' with {'content' : v} %}
    <hr/>
{% endfor %}
{% endblock %}
