{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block feed %}
<div class="row">
    {{ form(form) }}
</div>
<hr/>
{% for content in vertex %}
    {%if not loop.first %}
        <hr/>
    {% endif %}
    {% include 'TrismegisteSocialBundle:Content:simplepost.html.twig' %}
{% endfor %}
{% endblock %}
