{% extends 'TrismegisteSocialBundle:Default:frontpage.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        {{ form_widget(form) }}
    </div>
    <div class="span6²">
        <ul>
        {% for v in vertex %}
                <li>{{ v.title }} by {{ v.author.nickname }}</li>
        {% endfor %}
        </ul>


    </div>
</div>
{% endblock %}
