{# template for viewing one commentary entity #}
<div class="row">
    <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
    <div class="large-10 columns">
        <a href="#" class="right" data-options="align:left" data-dropdown="drop{{ content.id }}"><i class="fi-widget"></i></a>
        <!-- todo dropdown -->
        <h6 class="subheader">
            {{ content.author.nickname }}
            <small>{{ content.lastEdited | date('Y/m/d') }}</small>
        </h6>
        <p>{{ comment.message }}</p>
    </div>
</div>
