{% if comment.hasFan(app.user.author) %}
    <a href="{{ path('commentary_famous', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, uuid: comment.uuid, action: 'remove'}) }}" class="button tiny">Unlike</a>
{% else %}
    <a href="{{ path('commentary_famous', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, uuid: comment.uuid, action: 'add'}) }}" class="button tiny">Like</a>
{% endif %}
<span data-tooltip class="label right secondary has-tip fan-count" title="{{ comment.fanCount }} persons like this">
    <i class="fi-like"></i>
    {{ comment.fanCount }}
</span>