{# template for viewing one commentary entity #}
<div class="row">
    <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
    <div class="large-10 columns"><p>{{ comment.author.nickname }} : {{ comment.message }}</p></div>
</div>
