{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block feed %}
{% for content in listing %}
    {% include 'TrismegisteSocialBundle:Content:simplepost_show.html.twig' %}
    <hr/>
{% endfor %}
<div class="row publishing">
    <div class="small-12 column">
        <a href="#" class="button small-12 secondary">More</a>
    </div>
</div>
{% endblock %}
        
{% block navbar %}
<a href="{{ path('netizen_show') }}"><img src="{{ path('netizen_avatar', {filename: app.user.author.avatar} ) }}"/></a>
<h5><a href="{{ path('netizen_show') }}">{{ app.user.author.nickname }}</a></h5>
<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
    <section class="section">
        <h5 class="title"><a href="#">Section 1</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 2</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 3</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 4</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 5</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 6</a></h5>
    </section>
</div>
{% endblock navbar %}