{% extends 'TrismegisteSocialBundle:Content:index.html.twig' %}

{% block crud %}
<div class="row">
    <div class="columns">
    {{ form(form) }}
    </div>
</div>
<hr/>
{% endblock %}

{# block javascripts : init of map leaflet #}
