{% extends 'TrismegisteSocialBundle:Content:index.html.twig' %}

{% block crud %}
    <div class="pure-g entry">
        <div class="pure-u-1">
            {{ form(form) }}
        </div>
    </div>
    <hr/>
{% endblock %}
