{# Template for viewing one publishing root entity subclass #}
<div class="pure-g entry publishing">
    <a id="anchor-{{ content.id }}"></a>
    {% if content.isReportedBy(app.user.author) %}
        {% include 'TrismegisteSocialBundle:Content:reported_publishing.html.twig' %}
    {% else %}
        <div class="pure-u-1-4 pure-u-md-1-5">
            <header>
                {% include 'TrismegisteSocialBundle:Netizen:avatar_popup.html.twig' with {author: content.author } %}
            </header>
        </div>
        <div class="pure-u-1-1 pure-u-md-4-5">
            <article>
                <h4>{{ content.author.nickname }}<time datetime="{{ content.lastEdited|date() }}">{{ content.lastEdited | timeago }}</time></h4>
                        {% include 'TrismegisteSocialBundle:Content:show/' ~ choose_template(content) %}
                        {% include 'TrismegisteSocialBundle:Content:publishing_navbar.html.twig' %}
            </article>
        </div>
    {% endif %}
</div>

{% block commentary_create %}{% endblock %}
{% set commIt = content.commentaryIterator %}
{% if commIt.count > 0 %}
    <div class="pure-g entry commentary">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-4-5">
            {% for comment in commIt %}
                {% if comment.isReportedBy(app.user.author) %}
                    {% include 'TrismegisteSocialBundle:Content:reported_commentary.html.twig' %}
                {% else %}
                    {% include 'TrismegisteSocialBundle:Content:commentary_show.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}