{% include 'TrismegisteSocialBundle:Content:ajax/publishing_like_button.html.twig' %}
{% set fanCount = content.fanCount %}
<span data-tooltip class="label right secondary has-tip fan-count" title="{{ fanCount }} persons like this">
    <i class="fi-like"></i>
    {{ fanCount }}
</span>