{% extends 'TrismegisteSocialBundle:Content:index.html.twig' %}

{% block crud %}
    <div class="row publishing-form">
        <div class="columns">
            {{ form(form) }}
        </div>
    </div>
    <hr/>
{% endblock %}
