{# Showing search result #}
{% extends 'TrismegisteSocialBundle:Content:index.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Search
{% endblock %}

{% block feed %}
    {% include 'TrismegisteSocialBundle:Content:ajax/index_more.html.twig' %}
    <div id="pagination"></div>
    <div class="pure-g entry">
        <div class="pure-u-1 text-center">
            <a id="more-button" href="{{ path('ajax_search_more', {keyword: keyword, offset: pagination}) }}" class="pure-button">More</a>
        </div>
    </div>
{% endblock feed %}