{# Template for viewing one simple post root-entity #}
<div class="row">
    <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
    <div class="large-10 columns">
        <h5><a href="{{ path('publish_detail', {pk: v.id}) }}">{{ content.title }}</a></h5>
        <p><strong>{{ content.author.nickname }} said:</strong> {{ content.body }}</p>
        <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
        </ul>
        <h6>2 Comments</h6>
        {% for comment in content.commentary %}
            {% include 'TrismegisteSocialBundle:Content:commentary.html.twig' %}
        {% endfor %}
    </div>
</div>
