{% if content.hasFan(app.user.author) %}
    <a href="{{ path('pub_famous_remove', {id: content.id}) }}" class="button tiny">Unlike</a>
{% else %}
    <a href="{{ path('pub_famous_add', {id: content.id}) }}" class="button tiny">Like</a>
{% endif %}
<span data-tooltip class="label right secondary has-tip" title="{{ content.fanCount }} persons like this">
    <i class="fi-like"></i>
    {{ content.fanCount }}
</span>