.dashboard-tile {
    padding-bottom: 3em;
}

.dashboard-tile article {
    text-align: center;
    margin: 1em;
}

.dashboard-tile h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.dashboard-tile h2 {
    font-size: 2em;
}

.content {
    padding: 2em;
}

.content article {
    margin-bottom: 2em;
}