body {
    color: #333;
}

a {
    text-decoration: none;
}

.emphasizable a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-weight: 300;
    margin: 0 0 0.2em 0;
    opacity: 0.5
}

.entry header {
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.entry article {
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.commentary {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.rounded {
    border-radius: 10px;
}

.entry time {
    font-size: 0.7em;
    margin-left: 2em;
}

.pub-action {
    font-size: 1.2em;
    opacity: 0.5;
    text-align: center;
}

.pub-action a {
    color: #777;
    display: block;
    margin: 0.4em 0.3em;
    padding: 0.3em 0;
}

.pub-action a:hover {
    background-color: #eee;
}

.status-map {
    height: 400px;
    width: 100%;
    margin-bottom: 1.5em;
}

img.picture-view {
    max-height: 400px;
    max-width: 100%;
}

#more-button {
    width: 80%;
}

form .form-error {
    color: #ac2925;
    background-color: pink;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.right {
    float: right;
}

.user-listing nav.user {
    padding: 0.3em;
}

.submenu {
    margin-bottom: 1em;
}

.private-message {
    border-bottom: 1px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.reported-content-panel {
    background-color: #f2f2f2;
    margin-bottom: 0.6em;
    padding: 0.3em;
}

.content hr {
    margin-right: 0.6em;
    margin-left: 0.6em;
}

.button-tiny {
    font-size: 12px;
}

.automargin {
    margin: auto;
}

.profile-body .pure-g {
    margin-bottom: 0.6em;
}

.netizen header {
    padding-bottom: 1em;
}

footer {
    padding: 0.6em 0.6em 2em;
}

.pure-form label {
    margin-top: 0.7em;
}

.form-highlight div div:hover {
    background-color: #eee;
}

.widget article {
    margin-bottom: 1.6em;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.error-message {
    color: #ac2925;
    background-color: pink;
    list-style-type: none;
    padding: 1em;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.blink {
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}
i.icon-mail {
    color:red;
    opacity: 0
}